/*body {
  font-family: 'Gudea';
  font-size: 2em;
}*/

/*.panel {
  padding-top: 6px;
}*/

* {
  /*box-shadow: 0 0 1px 0px #f00;*/
}

.container, .container-fluid {
  padding-top: 16px;
}

.fa-quote-left {
  margin-right: 6px;
  color: green;
}

.scroll {
  overflow: visible;
  overflow-x:scroll;
  white-space: nowrap;
}

.glyphicon-cloud-upload {
  margin-right: 6px;
  margin-left: 6px;
  font-size: x-large;
}

.file-upload-button {
  margin-left: 6px;
}

.btn-lg {
  width: 150px;
}

ul.bom-list {
  list-style-type: square;    
}

.fa-columns {
  margin-right: 6px;
  margin-bottom: 6px;
}

.fa-quote-left, .glyphicon-shopping-cart, .glyphicon-new-window {
  color: gray;
  margin-right: -1px;
}

li.inactive {
 color: silver;
}

.fa-user-plus {
  margin-right: 6px;
}

.h1 {
  margin-left: 12px;
  margin-right: 12px;
}

.push-right-6 {
  margin-left: 6px;
}

div.inline {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
}

label.light {
  font-weight: normal;
}

.over-price: {
  color: red;
}

.under-price: {
  color: green;
}

.bold {
  font-weight: bold;
}

.part-searcher {
  vertical-align: top;
  margin-left: 12px;
  margin-top: -8px;
  margin-bottom: 3px;
}

.selected-bom-part {
}

.width-30 {
  width: 30px;
}

.width-45 {
  width: 45px;
}

.width-60 {
  width: 60px;
}

.width-90 {
  width: 90px;
}

.width-120 {
  width: 120px;
}

.width-150 {
  width: 150px;
}

.width-180 {
  width: 180px;
}

.width-210 {
  width: 210px;
}

.deprecated-bordered {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black
}

.with-padding-6 {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-right: 6px;
}

.margin-right-2 {
  margin-right: 2px;
}

.margin-right-6 {
  margin-right: 6px;
}

.margin-left-6 {
  margin-left: 6px;
}

.margin-left-200 {
  margin-left: 200px;
}

.bom-part-header-left {
  background-color: #0099FF;
  border-collapse: collapse;
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  border-right: 1px solid navy;
  border-left: 1px solid navy;
  min-width: 60%;
  margin-right: -5%;
  color: #fefbf6;
  height: 3em;
}
.bom-part-header-right {
  background-color: #0099FF;
  border-collapse: collapse;
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  border-right: 1px solid navy;
  border-left: 1px solid navy;
  min-width: 30%;
  margin-left: -5%;
  color: #fefbf6;
  height: 3em;
}

.bom-part-left {
  border-collapse: collapse;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  min-width: 60%;
  margin-right: -5%;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 5em;
} 

.bom-part-right {
  border-collapse: collapse;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  min-width: 30%;
  margin-left: -5%;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 5em;
}

.matched-part-header {
  background-color: #0099FF;
  border-collapse: collapse;
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  border-right: 1px solid navy;
  border-left: 1px solid navy;
  min-width: 95%;
  margin-right: -15%;
  margin-left: -5%;
  color: #fefbf6;
  height: 3em;
}

.matched-part {
  border-collapse: collapse;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  min-width: 95%;
  margin-right: -15%;
  margin-left: -5%; 
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 5em;
} 
